extends ../main.layout.pug

block variables
    -var title = "Главная"

block content
    .container
        h1.main__title.text-title Главная
        a(href="/blog/article.html") Блог
    include ../common/slider.pug
    
block scripts
    script(src='/assets/scripts/index.bundle.js')