extends ../main.layout.pug

block variables
    -var title = "Главная"

block content
    h1 Главная
    include ../common/slider.pug
    
block scripts
    script(src='assets/scripts/index.bundle.js')