extends ../../main.layout.pug

block variables
    -var title = "Блог - Статья 1"

block content
    .container
        h1.blog__title.text-title Блог
        h2 Статья 1
        a(href="/index.html") < back